*.pyc
.DS_Store
sftp-config.json
1606.06539v1.pdf
1.0train-GB1.zip
1308.0850v5.pdf
NCRG_94_004.pdf
OLHWDB1.1tst.zip
OLHWDB1.1tst/
PTTSView.exe
TextSample.rar
TextSample/
kanjivg-20160426.xml
kanjivg-20160426.xml.gz
lineStrokes-all.tar.gz
lineStrokes/
sketch-rnn/
